.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
}

input {
	width: 250px;
}

.errorText {
	color: red;
	text-align: left;
	margin: 0 auto 0 0;
	height: 2rem;
}

@media screen and (min-width: 500px) {
	.form {
		flex-direction: row;
	}
}
